<ion-header>
  <ion-toolbar>
    <ion-title>Exercício 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center">

    <ion-col size="4">
      <app-reusable-card title="Card 1" description="Este é o primeiro card"
        imageUrl="https://s2-oglobo.glbimg.com/oJ6UKc0XJGla4hugnmX1ZNJwh9U=/0x0:5392x3592/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2024/X/E/oECOXbTB2MkA6aQWBMQQ/108354723-actress-and-singer-lady-gaga-attends-the-photocall-of-the-movie-joker-folie-a-deux.jpg"
        (buttonClicked)="onCardButtonClick(1)">
      </app-reusable-card>
    </ion-col>

    <ion-col size="4">
      <app-reusable-card title="Card 2" description="Este é o segundo card"
        imageUrl="https://rollingstone.com.br/media/uploads/lady-gaga-cantora-palco-show-foto-getty-images.jpg"
        (buttonClicked)="onCardButtonClick(2)">
      </app-reusable-card>
    </ion-col>

  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-button expand="block" color="primary" [routerLink]="['/home']">
        Voltar para Home
      </ion-button>
    </ion-col>
  </ion-row>



</ion-content>