<ion-header>
  <ion-toolbar>
    <ion-title>Exercícios Avançados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button [routerLink]="['/exercises/ex1']">Exercício 1</ion-item>
    <ion-item button [routerLink]="['/exercises/ex2']">Exercício 2</ion-item>
    <ion-item button [routerLink]="['/exercises/ex3']">Exercício 3</ion-item>
    <ion-item button [routerLink]="['/exercises/ex4']">Exercício 4</ion-item>
    <ion-item button [routerLink]="['/exercises/ex5']">Exercício 5</ion-item>
    <ion-item button [routerLink]="['/exercises/ex6']">Exercício 6</ion-item>
    <ion-item button [routerLink]="['/exercises/ex7']">Exercício 7</ion-item>
    <ion-item button [routerLink]="['/exercises/ex8']">Exercício 8</ion-item>
    <ion-item button [routerLink]="['/exercises/ex9']">Exercício 9</ion-item>
    <ion-item button [routerLink]="['/exercises/ex10']">Exercício 10</ion-item>
  </ion-list>
</ion-content>
